img {
    /* max-width: 800px; */
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.shop {
    margin: auto;
    position: absolute;
    bottom: 5vh;
}