.product {
    display: grid;
    position: relative;
    left: 20vw;
}

.op {
    cursor: pointer;
}

.op:hover {
    color: rgb(124, 96, 62);
}

.sizes {
    display: flex;
    position: relative;

    justify-content: center;
    gap: 10px;

}


