.App {
  text-align: center;
}

.logo {
  text-decoration: none;
}

.person {
  cursor: pointer;
  position: relative;
  left: 21vw;
  bottom: 6.8vh;

}

.login {
  position: fixed;
  left: 70.3vw;
  top: 5.7vh;
}

.signup {
  position: fixed;
  left: 70vw;
  top: 7.7vh;
}

.signup:hover {
  color: rgb(161, 129, 89);
}

.login:hover {
  color: rgb(161, 129, 89);
}

.user {
  position: absolute;
  left: 10vw;
  font-weight: bolder;
}

.logout {
  position: absolute;
  /* left: 42vw; */
  bottom: 7.5vh;
  right: 43vw;
}