@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

body {
  margin: 20px;
  font-family: 'Poppins';
  color: rgb(218, 184, 143);
  background-color:rgba(255, 241, 227, 0.452) ;
}
a {
  color: rgb(218, 184, 143);
}
img {
  max-width: 100%;
}
nav {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}
nav h1 {
  margin-right: auto;
}

